
body {
}
p {
    color: black;
    font-family: Trebuchet MS,Arial,Verdana;
    font-size: 8pt;
}
.p {
    color: black;
    font-family: Trebuchet MS,Arial,Verdana;
    font-size: 8pt;
}
a {
    color: #6468a8;
    font-family: "Trebuchet MS",Arial,Verdana;
    font-size: 8pt;
    text-decoration: none;
}
.tdText {
    color: #d9f1f9;
    font-family: "Trebuchet MS",Arial,Verdana;
    font-size: 8pt;
    font-weight: normal;
}
.formText {
    color: black;
    font-family: Trebuchet MS,Arial,Verdana;
    font-size: 9pt;
}
.TableText {
    color: #6468a8;
    font-family: "Trebuchet MS",Arial,Verdana;
    font-size: 8pt;
}
.annoText {
    color: #009999;
    font-family: Trebuchet MS,Arial,Verdana;
    font-size: 8pt;
}
.TableTitle {
    color: #000000;
    font-family: Trebuchet MS,Arial,Verdana;
    font-size: 11px;
}
.textBoxes {
    color: black;
    font-family: Trebuchet MS,Arial,Verdana;
    font-size: 9pt;
}
.TableColHeader {
    color: #000000;
    font-family: Trebuchet MS,Arial,Verdana;
    font-size: 11px;
    font-weight: 700;
}
.tdFieldSubTitle {
    color: #ff9966;
    font-family: Trebuchet MS,Arial,Verdana;
    font-size: 8pt;
}
h1 {
    color: black;
    font-family: Trebuchet MS,Arial,Verdana;
    font-size: 13pt;
}
h2 {
    color: #222222;
    font-family: Trebuchet MS,Arial,Verdana;
    font-size: 9pt;
}
.linkLeft {
    background-color: #9999ff;
    color: #000000;
    font-family: "Trebuchet MS",Arial,Verdana;
    font-size: 10px;
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
}
.homeText {
    color: #68718e;
    font-family: Trebuchet MS,Arial,Verdana;
    font-size: 8pt;
    font-weight: normal;
}

.button {
	font-size:14px;
	border-radius:20px; 
	left:500px; 
	width:107px; 
	position:relative;
}

.button:hover {
	background-color:#eaeae1;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}